@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
    overflow-x: hidden;
    
}
header {
    display: flex;
    width: 100vw;
    background-color: #101010;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}
@media only screen and (max-width: 768px) {
    header {
        ul {
            display: none;
        }
    }
    .container {
        display: flex;
        width: 100%;
        margin: 0px;
  }
  .side1_container {
      width: fit-content;
  }
  .repositories {
    a {
        width: 95%;
        font-size: 8pt;
    }

    ul {
          width: 100%;
  }
  } 
}


ul {
    list-style: none;
    display: flex;
}
a {
    color: white;
    text-decoration: none;
    font-family: monospace;
    margin: 15px 30px;
    display: flex;
}
a:hover {
    text-decoration: underline #E84443;
}
main {
    display: flex;
    width: 100%;
    overflow-y: hidden;

    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 100%;
        margin: 15px;
        height: fit-content;
        min-height: 80vh;
        background-color: #fff;
        border-radius: 8px;
        overflow-y: hidden;

        .side1 {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #E84443;
            min-width: 200px;
            overflow-y: hidden;
            
            .side1_container {
                display: flex;
                flex-direction: column;
                min-height: max-content;
                justify-content: center;
                align-items: center;
                overflow-y: hidden;
         
                button {
                    margin: 0;
                    min-width: 250px;
                    outline: none;
                    border: none;
                    padding: 5px 60px;
                    color: #101010;
                    border-radius: 3px;
                }

                p {
                    display: flex;
                    padding: 10px 30px;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }

                button:hover {
                    background-color: #e2e2e2;
                    cursor: pointer;
                }

                .profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    color: white;
                    max-height: 300px;

                    img {
                        margin: 15px;
                        border-radius: 50%;
                        width: 40%;
                    }

                    h1 {
                        margin-top: 8px;
                        font-size: 12pt;
                    }
                }
            } 
        }
        .side2 {
            display: flex;
            background-color: #fff;
            flex-direction: column;
            margin: 15px;
            height: 75vh;
            overflow-y: auto;


            input {
                padding: 5px 5px;
                outline: none;
                border: 1px solid #202020;
                color: #202020;
                width: 98%;
                height: 30px;
            }

            h1 {
                color: #202020;
                font-family: 'Roboto', sans-serif;
                font-size: 12pt;
                margin-bottom: 10px;
            }

            .newest {
                margin-top: 10px;
            }

            .repositories {
                display: flex;
                flex-direction: column;

                a {
                    margin: 0;
                    margin-top: 5px;
                    margin-right: 1rem;
                    text-decoration: none;
                    min-width: 180px;
                    color: white;
                    background-color: #202020;
                    padding: 20px;
                    align-items: center;
                    border-radius: 3px;
                }

                i {
                    display: flex;
                    margin: 0 25px;
                    letter-spacing: 3px;
                    line-height: 1;
                }
                
                ul {
                    display: flex;
                    flex-direction: column;
                }

            }
        }
    }
}
